@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
/* Public style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-p: #3a3a3a;
  --color-s: #;
}
body {
  margin: 50px 80px;
}

/* header area */
/* Navigation */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 30px;
  margin-top: 5px;
}
ul li {
  list-style: none;
  margin-top: 8px;
  a {
    text-decoration: none;
    color: var(--color-p);
  }
}
#menu {
  display: none;
  img {
    cursor: pointer;
  }
}
/* Hero area */
.hero {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  margin-top: 40px;
}
.hero .journey {
  width: 500px;
  height: 440px;
  h1 {
    font-size: 2.6rem;
    color: var(--color-p);
    font-weight: 700;
  }
}

.hero .image {
  background-image: url(images/Circle\ design.svg);
  background-position: center;
  background-size: cover;
  img {
    width: 100%;
  }
}
.btn-primary {
  margin-top: 20px;
  color: #fff;
  padding: 8px 15px;
  border-radius: 41px;
  background: #e02c6d;
  border: none;
}

/* Main section area */
/* companies */

#sponsor {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
}
/* Cards */
#cards .container {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.card {
  margin-bottom: 30px;
  box-shadow: 5px 0px 50px 10px #f0e8e8;
}
#cards .card .image img {
  width: 100%;
}
#cards .card h1 {
  color: #18191f;
  font-size: 1.8rem;
}
#cards .card p {
  color: #787885;
  font-weight: 700px;
}
.arrow {
  display: flex;
  justify-content: flex-end;
}
.arrow button {
  color: rgba(224, 44, 109, 0.87);
  background: transparent;
  border: none;
  i {
    padding-left: 5px;
  }
}

/* response for Mobile */
@media screen and (max-width: 576px) {
  body {
    margin: 40px 20px;
  }
  nav ul li {
    display: none;
  }
  #menu {
    display: inline;
  }
  .hero {
    flex-direction: column-reverse;
  }
  .hero .image {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .hero .image img {
    width: 70%;
  }
  .hero .journey {
    width: 100%;
    margin: 0;
    height: auto;
    h1 {
      font-size: 1.6rem;
    }
    p {
      text-align: justify;
    }
  }
  #sponsor {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
  }
  /* Cards section */
  #cards .container {
    grid-template-columns: 1fr;
  }
  .card .image img {
    width: 100%;
  }
}

/* responsive for tablet device */

@media screen and (min-width: 576px) and (max-width: 992px) {
  body {
    margin: 40px;
  }
  main {
    margin: 0;
    padding: 0;
  }
  nav ul li {
    display: none;
  }
  #menu {
    display: inline;
  }
  #sponsor {
    flex-wrap: wrap;
  }
  #card {
    width: 100vw;
  }
  #cards .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .card .image img {
    width: 100%;
  }
  .card-last {
    display: none;
  }
}
